<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[title]</title>
<style>
p {max-width: 1000px;}
.em {
	font-style: italic;}
h1, h2, h3, h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #0B0B61;}
.boldtext {font-weight: bold;}
h2 {
	margin-top: 80px;
	padding: 30px 0;
	border: 1px solid #000000;
	background-color: #CED8F6;
	width: 1000px;
	text-align: center;
	font-size: 2em;}
</style>
</head>
<body>
<h1>Plagiarism Summary of Submitted Files</h1>
<p>[DATE]<br></p>

<table>
<tr>
<th>Assignment Name:</th> <td>[title]</td>
</tr>
<tr>
<th>Code Assessment Version:</th> <td>[VERSION]</td>
</tr>
</table>
<br>

<p class="em">This summary is based on an automated assessment of all the .vb files submitted by students. Compares all the Application GUIDs (Global Unique Identifiers) and also compares MD5 hash values calculated for all submitted *.vb files. To help prevent false positives, Instructor supplied demo files can also be uploaded and analysed. This identifies code that may have been used by multiple students, but was obtained from the instructor.</p> 
<hr />




