<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Summary of Assignment Analysis</title>
<style>
table, th, td {
	border-collapse: 
	collapse; 
	margin: 2px 0px;}
.noborder {border: 0;}
.header {background-color: #0B0B61;
         color: white;}
th {
	color: white;}
.newstudent {
	padding-top: 10px;
	border-top: 1px solid black;}

.date {border: 0; color: black;}
td {
padding: 0px 15px;}
.tdright {
	text-align: right;}
.tdcenter {
	text-align: center;}
.boldtext {font-weight: bold;}

</style>
</head>
<body>
<h1>Assessment Summary of [ASSIGNMENTNAME]</h1>

<table class="noborder">
<tr class="noborder">
<th class="date">Report Date:</th><td class="noborder">[REPORTDATE]</td>
</tr>
<tr class="noborder">
<th class="date">Code Assessment Version:</th><td class="noborder">[VERSION]</td>
</tr>

</table>
<hr />

<table >
